*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

header{
    height: 5rem;
    padding-left: 2rem;
}

main{
    background-color: #F6F8F9;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 100vh;
}

nav{
    height: 3rem;
    padding-left: 3rem;
    padding-top: 0.7rem;

}
.inl-block{
    display: inline-block;
}

.container{
    width: 720px;
    margin: auto;
    background-color: #FFFFFF;
}

.space{
    margin-top: 1rem;
}
.space-05{
    margin-top: 0.5rem;
}
.task{
    background-color: #45ABEA;
    border-radius: 3px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    color: white;
}


.section{
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    color: lightgray;
}

.lgray{
    color: #444851;
}

.padding{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.tag{
    border-radius: 10px;
    background-color: #45ABEA;
    color: white;
    padding: 6px;
    font-size: x-small;
}