*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    height: 5rem;
    padding-left: 2rem;
}

main{
    background-color: #F6F8F9;
    padding-top: 30px;
    padding-bottom: 10px;
}

nav{
    height: 3rem;
    padding-left: 3rem;
    padding-top: 0.7rem;

}
.inl-block{
    display: inline-block;
}

.container{
    width: 720px;
    margin: auto;
    background-color: #FFFFFF;
}

.space{
    margin-top: 0.1rem;
}

.task{
    background-color: #84CDF1;
    border-radius: 3px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    color: white;
}


.section{
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-size: small;
    font-weight: 500;
    color: lightgray;
}